# Deep Learning
* Ann
* Cnn
* Rnn
* Lstm
* Gru
* Gen Ai

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv("cleaned_data.csv")

In [4]:
df.head()

     price  kms_driven  owner  age  power  brand
0  35000.0     17654.0      1    3  110.0      8
1  65000.0     16329.0      1    4  180.0      8
2  80000.0     10000.0      1    3  150.0      5
3  53499.0     25000.0      1    6  150.0      5
4  85000.0      8200.0      1    3  160.0      6

In [5]:
df.tail()

          price  kms_driven  owner  age  power  brand
17720   25000.0     32588.0      1    9  150.0      3
17721  123000.0     14500.0      1    4  250.0      5
17722   30000.0      6639.0      1    9  180.0      8
17723   60000.0     20373.0      1    6  220.0      3
17724   22000.0     60857.0      1   13  150.0      3

In [6]:
df.dtypes

price         float64
kms_driven    float64
owner           int64
age             int64
power         float64
brand           int64
dtype: object

In [7]:
df.drop_duplicates(inplace= True)

In [8]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [9]:
x= df.drop('price', axis=1)
y= df['price']

In [10]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1    3  110.0      8
1        16329.0      1    4  180.0      8
2        10000.0      1    3  150.0      5
3        25000.0      1    6  150.0      5
4         8200.0      1    3  160.0      6
...          ...    ...  ...    ...    ...
4226     10000.0      1    6  180.0      3
4230     41939.0      1    8  200.0      3
4231     29134.0      1    7  220.0      3
4237     60000.0      1    9  220.0      3
4238      7127.0      1    5  220.0      3

[3285 rows x 5 columns]

In [11]:
y

0       35000.0
1       65000.0
2       80000.0
3       53499.0
4       85000.0
         ...
4226    55000.0
4230    48000.0
4231    50000.0
4237    35000.0
4238    80000.0
Name: price, Length: 3285, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train , y_test= train_test_split(x,y,test_size= 0.2)

In [13]:
! pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (2.19.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (2.2.2)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (5.29.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (80.8.0)
Requirement already satisfied: six>=1.12.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (4.13.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (1.71.0)
Requirement already satisfied: tensorboard~=2.19.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (3.10.0)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (3.13.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorflow) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.4.26)
Requirement already satisfied: markdown>=2.6.8 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.8)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from keras>=3.5.0->tensorflow) (14.0.0)
Requirement already satisfied: namex in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from keras>=3.5.0->tensorflow) (0.0.9)
Requirement already satisfied: optree in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\hp\onedrive\documents\machine learning\.venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

In [14]:
import tensorflow as tf

In [18]:
from tensorflow.keras.layers import Dense , Dropout
from tensorflow.keras.models import Sequential

In [19]:
input_shape = (5,)

In [20]:
model= Sequential()

In [25]:
#Input Layer
model.add(Dense(units=64,activation='relu',input_shape=input_shape))

#dropout layer 
model.add(Dropout(0.2))


#hiddenlayer
model.add(Dense(units=32,activation='relu'))
model.add(Dense(units=16,activation='relu'))
model.add(Dense(units=8,activation='relu'))

#output layer
model.add(Dense(units=1,activation='linear'))


model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])

c:\Users\hp\OneDrive\Documents\Machine Learning\.venv\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [28]:
history = model.fit(x_train , y_train, epochs=10, batch_size= 32)

# validation_data=(x_test, y_test)

Epoch 1/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 621826944.0000 - mae: 18317.0293 - mse: 621826944.0000
Epoch 2/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 550780672.0000 - mae: 17470.6309 - mse: 550780672.0000
Epoch 3/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 526906496.0000 - mae: 17038.9824 - mse: 526906496.0000
Epoch 4/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 552995200.0000 - mae: 16993.7109 - mse: 552995200.0000
Epoch 5/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 561531392.0000 - mae: 17630.0156 - mse: 561531392.0000
Epoch 6/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 536181184.0000 - mae: 16971.4336 - mse: 536181184.0000
Epoch 7/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 560155328.0000 - mae: 17413.1211 - mse: 560155328.0000
Epoch 8/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 478949440.0000 - mae: 16109.8037 - mse: 478949440.0000
Epoch 9/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 495944928.0000 - mae: 16284.4453 - mse: 495944928.0000
Epoch 10/10
83/83 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 508670912.0000 - mae: 16503.3359 - mse: 508670912.0000

In [29]:
pd.DataFrame(history.history)

          loss           mae          mse
0  580582976.0  17723.205078  580582976.0
1  534160032.0  17005.066406  534160032.0
2  550838976.0  17360.886719  550838976.0
3  524279136.0  16811.009766  524279136.0
4  539580992.0  17137.855469  539580992.0
5  512324192.0  16726.105469  512324192.0
6  542159296.0  17194.894531  542159296.0
7  499237440.0  16377.056641  499237440.0
8  516637696.0  16599.564453  516637696.0
9  517803392.0  16713.685547  517803392.0

In [30]:
pred= model.predict(x_test)

21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step

In [31]:
y_test

2995    42000.0
1251    70000.0
3195    35000.0
1357    44000.0
140     42100.0
         ...
2826    50000.0
1102    46400.0
285     19000.0
3816    59000.0
683     49000.0
Name: price, Length: 657, dtype: float64

In [32]:
x_test

      kms_driven  owner  age  power  brand
2995     15833.0      1    3  110.0      6
1251      9355.0      1    4  150.0      5
3195     59835.0      1    6  150.0      7
1357     36000.0      1    6  180.0      8
140      22560.0      1   11  150.0      3
...          ...    ...  ...    ...    ...
2826     18096.0      1    6  220.0      3
1102      9500.0      1    3  125.0      3
285      23420.0      1   10  100.0      3
3816      7345.0      1    4  160.0      6
683      28800.0      1    8  200.0      3

[657 rows x 5 columns]

In [33]:
output_data = pd.DataFrame({'actual': y_test.ravel(), 'predict': pred.ravel()})

C:\Users\hp\AppData\Local\Temp\ipykernel_2332\1315334108.py:1: FutureWarning: Series.ravel is deprecated. The underlying array is already 1D, so ravel is not necessary.  Use `to_numpy()` for conversion to a numpy array instead.
  output_data = pd.DataFrame({'actual': y_test.ravel(), 'predict': pred.ravel()})

In [34]:
output_data

      actual       predict
0    42000.0  20932.978516
1    70000.0  44661.667969
2    35000.0  20817.568359
3    44000.0  25134.406250
4    42100.0  25627.046875
..       ...           ...
652  50000.0  55235.839844
653  46400.0  33699.277344
654  19000.0  12102.003906
655  59000.0  52942.484375
656  49000.0  35410.757812

[657 rows x 2 columns]

In [35]:
output_data.describe()

              actual        predict
count     657.000000     657.000000
mean    54987.968037   36928.898438
std     31291.492926   20343.402344
min      9500.000000   11286.218750
25%     30000.000000   20181.775391
50%     49000.000000   31571.353516
75%     70000.000000   50387.367188
max    160000.000000  112354.304688

In [36]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.